<!DOCTYPE html>
<html>
<head>
  <title>KomachiHeartbeat</title>
  <%= stylesheet_link_tag    "komachi_heartbeat/application", :media => "all" %>
  <%= javascript_include_tag "komachi_heartbeat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
